@import "tailwindcss";

@theme {
    --color-primary: #7E623B;
    --color-secondary: #F1EDE7;
    --color-gray: #6b7280;
    --color-border-gray: #E5E7Eb;
    --color-black: #1A1A1A;
    --color-background: #FDFCFA;
}

body {
    font-family: "Alexandria", sans-serif;
}
html {
    scroll-behavior: smooth;
}